* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	margin: 8px;
	background-color: #abcdef;
	font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
	color: #fefefe;
	line-height: 1;
}

ol, ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
button {
	padding: 1px 6px;
	background-color: #e4e4e4;
	cursor: pointer;
}
button:hover {
	background-color: #ebebeb;
}
input {
	padding: 2px;
}
input[type=number] {
	width: 50px;
}
input, button, select {
	border: 1px outset #959595;
	border-radius: 2px;
}
canvas {
	background: #915858;
	background: #589188;
}

.hidden {
	display: none;
}

#settings {
	display: inline-block;
	padding: 8px;
	vertical-align: top;
	background-color: #3c3c3c;
}
#settings p {
	margin: 5px;
}
#settings p input[type=radio] {
	cursor: pointer;
}

#info, #tile_left, #time {
	display: inline-block;
	vertical-align: top;
}